<ion-header>
  <ion-navbar>
    <ion-title>
      Sensor Data
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="confirmDelete()">
            <ion-icon name="trash"></ion-icon>
         </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <h6>Sampling @ {{freq}}ms, logging:{{isLogging()}}</h6>

  <ion-grid>
    <ion-row>
      <ion-col>
        <button  ion-button (click)="toggleTrip()" [color]=stateColor icon-left><ion-icon name="car"></ion-icon>{{logState}} Trip {{timer.time}}
        </button>
      </ion-col>
      
      <ion-col>
        <button *ngIf='logState=="Start"' ion-button  icon-left (click)="share()" color="secondary"><ion-icon name="share"></ion-icon>Share</button>
      </ion-col>


      <ion-col>
        <button *ngIf='logState=="Start"' ion-button  icon-left (click)="upload()" color="dark"><ion-icon name="cloud-upload"></ion-icon>Upload</button>
      </ion-col>
    </ion-row>

    
      <progress-bar   [progress]="progress.val" *ngIf="progress.val!=-1"></progress-bar>
  
    
    <ion-row wrap *ngIf='logState=="Stop"'>
      <ion-col>
        <button ion-button small color="light" (click)="setMarker('pick')">pick</button>
      </ion-col>

      <ion-col >
        <button ion-button small color="light" (click)="setMarker('brake')">brake</button>
      </ion-col>


      <ion-col >
        <button ion-button small color="light" (click)="setMarker('speedup')">speed up</button>
      </ion-col>


      <ion-col >
        <button ion-button small color="light" (click)="setMarker('left')">left</button>
      </ion-col>
      
      <ion-col >
        <button ion-button small color="light" (click)="setMarker('right')">right</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div>
    <ion-segment [(ngModel)]="viewMode">
      <ion-segment-button value="graph" (ionSelect)="segmentClicked()">
        graph
      </ion-segment-button>
      <ion-segment-button value="raw">
        raw
      </ion-segment-button>
    </ion-segment>
  </div>
  <p>Distract:{{move}} ({{moveCount}} times, Speed:{{speed | number:'1.2-2'}}mph</p>
  <div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'raw'">
      <h4>Acceleration:</h4> {{acc}}
      <h4>Gyroscope:</h4> {{gyro}}
    </div>
    <div *ngSwitchCase="'graph'">

      <canvas #acc></canvas>
      <canvas #gyro></canvas>


    </div>
  </div>






</ion-content>