<ion-header>
  <ion-navbar>
    <ion-title>
      Sensor Data
    </ion-title>

    <!--<ion-buttons start>
      <button ion-button icon-only (click)="ble()"><ion-icon name="bluetooth"></ion-icon>
      </button>
    </ion-buttons>-->

    <ion-buttons start>
      <button ion-button icon-only (click)="clearLogin()"><ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-only (click)="viewTrips()"><ion-icon name="list"></ion-icon>
      </button>
    </ion-buttons>
    <!--<ion-buttons end>
      <button ion-button icon-only (click)="confirmDelete()">
            <ion-icon name="trash"></ion-icon>
         </button>
    </ion-buttons>-->
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="isOutdated"><small style="color:#D91E18">New app version available. Please update</small></div>
  <b>Sampling @ {{freq}}ms, logging:{{isLogging()}}</b><small> (v:{{getVersion()}})</small>
  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- start/stip trip -->
        <button ion-button (click)="toggleTrip()" [color]=stateColor icon-left><ion-icon name="car"></ion-icon>{{logState}} Trip {{timer.time}}
        </button>

      </ion-col>
      <!-- show pause if trip is started -->
      <ion-col [hidden]="logState=='Start'">
        <button ion-button (click)="togglePause()" [color]=pauseColor icon-only outline><ion-icon name="pause"></ion-icon>
        </button>
      </ion-col>

      <ion-col [hidden]="logState=='Start'">
        <button ion-button outline (click)="abortTrip()" color="alert" icon-only><ion-icon name="close-circle"></ion-icon>
        </button>
      </ion-col>


      <ion-col [hidden]="logState=='Stop'">
        <!-- show share if trip is stopped -->
        <button ion-button icon-left outline (click)="share()" color="primary"><ion-icon name="share"></ion-icon>Share</button>
      </ion-col>

      <ion-col [hidden]="logState=='Stop' || !pendingUpload">
        <!-- upload if cloud upload failed -->
        <button ion-button icon-left (click)="uploadPending(currentTripName)" color="primary" outline><ion-icon name="cloud-upload"></ion-icon>Upload</button>
      </ion-col>
    </ion-row>
    <!-- upload progress, activates during upload -->
    <progress-bar [progress]="progress.val" *ngIf="progress.val!=-1"></progress-bar>
    <ion-row wrap [hidden]='logState=="Start"'>
      <ion-col col-3 *ngFor="let marker of markers">
        <button ion-button small [color]="marker.color" outline (click)="setMarker(marker.val)">{{marker.name}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>



  <!-- graph or raw -->
  <div>
    <ion-segment [(ngModel)]="viewMode">
      <ion-segment-button value="graph" (ionSelect)="chartClicked()">
        graph
      </ion-segment-button>
      <ion-segment-button value="raw" (ionSelect)="rawClicked()">
        raw
      </ion-segment-button>
    </ion-segment>
  </div>

  <p>Distracted: {{move}} ({{moveCount}} times), Speed: {{speed | number:'1.2-2'}}mph, viewMode: {{viewMode}}</p>
  <div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'raw'">
      <ion-list nolines>
        <ion-item>
          acclerometer
          <p text-wrap>{{acc}}</p>
        </ion-item>

        <ion-item>
          gyroscope
          <p text-wrap>{{gyro}}</p>
        </ion-item>

      </ion-list>

    </div>

    <div *ngSwitchCase="'graph'">
      <canvas #accGraph></canvas>
      <canvas #gyroGraph></canvas>

    </div>
  </div>

  <ion-fab bottom right *ngIf="speechAvailable && logState=='Stop'">
    <button ion-fab color="danger" (click)="recognizeSpeech()"><ion-icon name="mic"></ion-icon></button>
  </ion-fab>


</ion-content>