
<ion-header>
  <ion-navbar>
    <ion-title>View Trips</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
   <!--<div *ngIf = "trips.length">
      <p text-wrap *ngIf="trips.length">swipe items for options</p>
    </div>-->
  <ion-list nolines>
    <!--<ion-item *ngIf="!trips.length">
     {{this.status.text}}
    </ion-item>-->
    <ion-item-sliding #slidingItem *ngFor="let trip of trips | async">
      <ion-item>
        {{trip.name}}
        <p>{{trip.uploadedon}}</p>
        <p>{{trip.uploadedby}}, version:{{trip.version}}</p>
      </ion-item>
      <ion-item-options>
        <button ion-button icon-only color="light" (click)="displayTrip(trip, slidingItem)">
               <ion-icon name="eye"></ion-icon>view&nbsp;
          </button>
        <button ion-button icon-only color="secondary" (click)="share(trip, slidingItem)">
               <ion-icon name="share"></ion-icon>share&nbsp;
          </button>
        <button ion-button icon-only color="danger" (click)="delete(trip, slidingItem)">
               <ion-icon name="trash"></ion-icon>delete&nbsp;
          </button>
      </ion-item-options>
    </ion-item-sliding>
   
  </ion-list>
</ion-content>