<!--
  Generated template for the ViewTripsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>View Trips</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list nolines>
    <ion-item *ngIf="!trips.length">
      No trips found
    </ion-item>
    <ion-item-sliding #slidingItem *ngFor = "let trip of trips" (click)="displayTrip(trip, slidingItem)">
      <ion-item >
        {{trip.name}}
        <p>{{trip.date}}</p>
        <p>{{trip.uploadedby}}, version:{{trip.version}}</p>
      </ion-item>
      <ion-item-options>
          <button ion-button icon-only color="secondary" (click)="share(trip, slidingItem)">
               <ion-icon name="share"></ion-icon>Share&nbsp;</button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item>
    <p text-wrap *ngIf="trips.length">swipe items for options</p>
  </ion-item>
  </ion-list>
</ion-content>
